#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

#left, #right {
    border: 1px solid #000;
    padding: 5px;
}

#country-flag, #country-flag2  {
    width: 190px;
    height: 100px;
}


.translations, .translations2 {
	margin-top: 30px;
}

#graph, #graph2 {
    width: 80%;
    height: 300px;
    margin: 10px auto;
    }

@media all and (max-width: 768px) {
    #wrapper {
        grid-template-columns: 1fr;
    }
}